//- // пагинация
//- .item-list
//-   ul.pager
//-     li.pager-first.first
//-       a(href='#') «
//-     li.pager-previous
//-       a(href='#') ‹ 
//-     li.pager-current.first 1
//-     li.pager-item
//-       a(href='#') 2
//-     li.pager-item
//-       a(href='#') 3
//-     li.pager-ellipsis …
//-     li.pager-item
//-       a(href='#') 10
//-     li.pager-next
//-       a(href='#') ›
//-     li.pager-last.last
//-       a(href='#') »
//- // КОНЕЦ: пагинация
