@if $drupal == 8 {
  #toolbar-administration {
    nav {
      height: auto !important;
      line-height: inherit !important;
      box-shadow: none;
      nav {
        background-color: transparent !important;
      }
    }
    .toolbar-tab {
      position: initial !important;
    }
    li {
      &:before {
        display: none;
      }
    }
  }
} @else if $drupal == 7 {
  body.adminimal-menu #admin-menu li:before {
    display: none;
  }
  body.adminimal-menu #admin-menu .dropdown li ul {
    border-top: 3px solid $bg_admin_menu !important;
  }
  body.adminimal-menu #admin-menu #admin-menu-wrapper .dropdown li li.expandable:hover,
  body.adminimal-menu #admin-menu .dropdown li:hover,
  body.adminimal-menu #admin-menu ul li a:hover, {
    background: $bg_admin_menu red !important;
  }
}
