.arrows__arrow {
  // text-indent: -999999px;
  cursor: pointer;
  position: absolute;
  z-index: 100;
}
.arrows__arrow-prev {
  left: 0;
}
.arrows__arrow-next {
  right: 0;
}
.slick-disabled {
	display: none !important;
}
