$uiDialogTitleBarHeight: 50px;

$uiDialogCloseBackgroundColor: transparent;
$uiDialogClosePositionTop: 0;
$uiDialogClosePositionRight: 0;
$uiDialogCloseWidth: 50px;
$uiDialogCloseHeight: 50px;
$uiDialogCloseIcoSize: 20px;
$uiDialogCloseIcoWeight: 2px;
$uiDialogCloseIcoColor: gray;
$uiDialogCloseIcoColorHover: lightgray;

$uiDialogContentPadding: 0 50px 50px 50px;

.ui-widget-overlay {
  background-color: $overlayBackgroundColor;
  background-image: none;
  opacity: 1;
}
.ui-dialog {
  padding: 0;
  border: none !important;
  background: #fff;
  border-radius: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateY(-50%) translateX(-50%) !important;
  z-index: 1000;
}
.ui-dialog-titlebar {
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
  padding: 0 !important;
  height: $uiDialogTitleBarHeight !important;
}
.ui-dialog-title {
  display: none;
}
.ui-dialog-titlebar-close {
  background-color: $uiDialogCloseBackgroundColor !important;
  background-image: none !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  top: $uiDialogClosePositionTop !important;
  right: $uiDialogClosePositionRight !important;
  width: $uiDialogCloseWidth !important;
  height: $uiDialogCloseHeight !important;
  span {display: none;}
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $uiDialogCloseIcoColor;
    height: $uiDialogCloseIcoWeight;
    width: $uiDialogCloseIcoSize;
    margin: auto;
    transition: all 0.3s;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    &::before,
    &::after {
      background-color: $uiDialogCloseIcoColorHover;
    }    
  }
}
.ui-dialog-content {
  padding: $uiDialogContentPadding !important;
}
