// модальные окна
.ui-widget-overlay {
  background-image: none;
  opacity: 1;
  background-color: rgba(0,0,0,0.5);
}
.ui-dialog {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
  padding: 0;
  border-radius: 0;
  border: none !important;
  background: #fff;
  border-radius: 0;
  font-size: 15px;
  .ui-dialog-titlebar-close {
    right: 25px;
    top: 34px;
    z-index: 999;
    outline: none;
    background-color: transparent;
    border: none;
    span {
      display: none;
    }
    &:hover {}
  }
  .ui-dialog-titlebar {
    background: none;
    border: none;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    span.ui-icon {
      margin-left: -9px;
    }
    span.ui-button-text {
      display: none !important;
    }
  }
  .ui-dialog-content {
    padding: 30px 56px 50px;
  }
}
.ui-dialog-title {
	text-indent: -999999px;
	padding: 0 !important;
	margin: 0 !important;
}
