// Drupal Contextual Links
@if $drupal == 7 {
  div.contextual-links-wrapper {
    z-index: 49 !important;
    text-shadow: none !important;
    ul.contextual-links {
      position: absolute !important;
      right: 0 !important;
      top: 18px !important;
      margin: 0 !important;
      padding: 0.25em 0 !important;
      list-style: none !important;
      background: white !important;
      border: 1px solid #ccc !important;
      border-radius: 4px 0 4px 4px !important;
      font-size: 14px !important;
      text-align: left !important;
      white-space: nowrap !important;
      li {
        display: list-item !important;
        margin: 0 !important;
        padding: 0 !important;
        list-style: none !important;
        list-style-image: none !important;
        background: transparent !important;
        font-size: 14px !important;
        font-weight: normal !important;
        line-height: 100% !important;
        width: 100% !important;
        a {
          font-family: inherit !important;
          display: block !important;
          margin: 0.25em 0 !important;
          padding: 0.25em 1em 0.25em 0.5em !important;
          color: #333 !important;
          background: transparent !important;
          font-size: 14px !important;
          font-weight: normal !important;
          text-decoration: none !important;
          text-transform: none !important;
          &:hover {
            background-color: #bfdcee !important;
          }
        }
      }
    }
  }
}
