.dots {
  // position: absolute;
  // left: 0;
  // right: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex !important;
    list-style: none;
    li {
      width: 10px;
      height: 10px;
      margin: 0 3px 0 2px;
      &:before { display: none; }
      button {
        width: 10px;
        height: 10px;
        text-indent: -999999px;
        padding: 0;
      }
      &.slick-active {
        margin-top: -2px;
        margin-left: 0px;
        margin-right: 5px;
        button {
          width: 14px;
          height: 14px;
          background-color: #009ee2;
        }
      }
    }
  }
}
.dots_center {
  ul {
    justify-content: center;
  }
}
.dots_blue {
  button {}
}
.dots_no-border {
  button {}
}
