.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 22px;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  background: #fff;
  box-sizing: border-box;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #009ee2;
  opacity: 0;
}
.radio:checked + label::before {
  background: #f6f6f6;
}
.radio:checked + label:after {
  opacity: 1;
}
