@if $drupal == 8 {
  #block-custom-theme-local-tasks {
    margin-bottom: 24px;
    ul:not(.contextual-links) {
      margin: 0;
      padding: 0;
      display: flex;
      li {
        margin: 0;
        &:before {display: none;}
        a {
          padding: 5px 20px;
          display: inline-block;
          margin: 0;
          color: #ffffff;
          background-color: $bg_system_tabs_1;
          transition: all 0.2s;
          text-decoration: none;
          &:hover {
            background-color: $bg_system_tabs_2;
            border-color: $bg_system_tabs_2;
          }
        }
      }
      a.is-active {
        color: #ffffff !important;
        border-width: 1px 1px 0 1px;
        background-color: $bg_system_tabs_2;
      }
    }
  }
} @else if $drupal == 7 {
  .tabs {
    ul.tabs.primary {
      border-bottom: 1px solid $bg_system_tabs_2;
      margin: 0;
      li {
        background: none !important;
        padding: 0 !important;
        margin: 0 -4px 0 0;
        a {
          padding: 5px 10px;
          display: inline-block;
          margin: 0;
          color: #ffffff;
          background-color: $bg_system_tabs_1;
          border-color: $bg_system_tabs_1;
          transition: all 0.2s;
          &:hover {
            background-color: $bg_system_tabs_2;
            border-color: $bg_system_tabs_2;
          }
        }
      }
      li.active {
        a {
          color: #ffffff !important;
          border-width: 1px 1px 0 1px;
          background-color: $bg_system_tabs_2;
        }
      }
    }
  }
}
