// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-name: 'arrow-down';
$arrow-down-x: 0px;
$arrow-down-y: 32px;
$arrow-down-offset-x: 0px;
$arrow-down-offset-y: -32px;
$arrow-down-width: 6px;
$arrow-down-height: 4px;
$arrow-down-total-width: 64px;
$arrow-down-total-height: 36px;
$arrow-down-image: '../img/sprite.png';
$arrow-down: (0px, 32px, 0px, -32px, 6px, 4px, 64px, 36px, '../img/sprite.png', 'arrow-down', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 0px;
$facebook-offset-x: 0px;
$facebook-offset-y: 0px;
$facebook-width: 32px;
$facebook-height: 32px;
$facebook-total-width: 64px;
$facebook-total-height: 36px;
$facebook-image: '../img/sprite.png';
$facebook: (0px, 0px, 0px, 0px, 32px, 32px, 64px, 36px, '../img/sprite.png', 'facebook', );
$vkontakte-name: 'vkontakte';
$vkontakte-x: 32px;
$vkontakte-y: 0px;
$vkontakte-offset-x: -32px;
$vkontakte-offset-y: 0px;
$vkontakte-width: 32px;
$vkontakte-height: 32px;
$vkontakte-total-width: 64px;
$vkontakte-total-height: 36px;
$vkontakte-image: '../img/sprite.png';
$vkontakte: (32px, 0px, -32px, 0px, 32px, 32px, 64px, 36px, '../img/sprite.png', 'vkontakte', );
$spritesheet-width: 64px;
$spritesheet-height: 36px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow-down, $facebook, $vkontakte, );
$spritesheet: (64px, 36px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
