// Версия Drupal
$drupal: 8;

// Админ панель
$adminMenuBackgroundColorSelectedLi: red;

// Системные вкладки администрирования
$bg_system_tabs_1: #be0115; // основной фон вкладок
$bg_system_tabs_2: #99122d; // активная вкладка и выделение

$bg_overlay_ajax: rgba(0, 0, 0, 0.5); // задный фон модального окна а также загрузчика аякс

