// Версия Drupal
$drupal: 8;

// Админ панель
$adminMenuBackgroundColorSelectedLi: red;

// Системные вкладки администрирования
$sistemTabsBackgroundColor: #be0115;
$sistemTabsBackgroundColorHover: #99122d;
$sistemTabsBackgroundColorActive: #99122d;

/* Задний фон для модальных окон */
$overlayBackgroundColor: rgba(0, 0, 0, 0.5);
