// перелинковка страниц для верстки
.html-fast-links-on-page
  ul
    li
      a(href="/index.html") Главная
    li
      a(href="/page2.html") Страница 1
    li
      a(href="/page3.html") Страница 2

style.
  .html-fast-links-on-page { background-color: lightgray; border-bottom: 1px solid gray; display: inline-block; width: 100%; text-align: center; }
  .html-fast-links-on-page ul { list-style: none; display: inline-block; padding: 0; }
  .html-fast-links-on-page ul li { margin: 0 5px; padding: 0; float: left; }
  .html-fast-links-on-page ul li:before { display: none; }
// КОНЕЦ: перелинковка страниц для верстки
