// перелинковка страниц для верстки
+b.gulp-pages
    label(for='checkbox-gulp-pages')
        span.name PAGES:
        span.burger
    input(type='checkbox')#checkbox-gulp-pages
    +e.inner
        +e.pages
            ul
                li
                    a(href="/index.html") главная

style.
    .gulp-pages { position: fixed; z-index: 999; top: 0; left: 0; background-color: lightgray; }
    .gulp-pages input { display: none; }
    .gulp-pages label { font-size: 18px; color: black; padding: 10px; cursor: pointer; display: flex; align-items: center; }
    .gulp-pages label span.name { margin-right: 10px; line-height: 1; }
    .gulp-pages label span.burger { height: 2px; width: 24px; margin-top: 1px; background-color: black; display: inline-block; position: relative; }
    .gulp-pages label span.burger:before,
    .gulp-pages label span.burger:after { content: ''; position: absolute; right: 0; left: 0; background-color: black; height: 2px; width: 100%; margin: auto; transition: all 0.25s ease-in-out; }
    .gulp-pages .burger::before { top: -6px; }
    .gulp-pages .burger::after { bottom: -6px; }
    .gulp-pages__inner {
        display: none;
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 999;
        background-color: lightgray;
        padding: 15px;
    }
    .gulp-pages__pages {
        display: flex;
    }
    .gulp-pages #checkbox-gulp-pages:checked + .gulp-pages__inner { display: flex; }
    .gulp-pages ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .gulp-pages ul li { margin: 0 0 10px; padding: 0; }
    .gulp-pages ul li:before { display: none; }
    .gulp-pages a { transition: all 0.2s; border: none; line-height: 1; white-space: nowrap; color: inherit; }
    .gulp-pages a.active { color: red; font-weight: 700; }
    .gulp-pages form { margin: 0 0 20px 0; }

script.
    [].slice.call(document.querySelectorAll('.gulp-pages a')).forEach(function(el) {
        if ( el.getAttribute('href') == location.pathname ) {
            el.classList.add('active');
        }
    });
// КОНЕЦ: перелинковка страниц для верстки
