*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body, div, table, tr, td, h1, h2, h3, li {
  position: relative
}
body {
  font-family: $font;
  font-size: map-get($fontSize, norma);
  font-weight: 400;
  color: #4d4d4d;
  line-height: 22px;
  min-width: 970px;
}
blockquote,
q {
  quotes: none;
}
.clear {
  clear: both;
}
hr {
  height: 1px;
  background-color: #ededee;
  border: none;
  width: 100%;
  margin: 46px 0;
}
a {
  color: #0072bb;
  text-decoration: none;
  border-bottom: 1px solid #cce3f1;
  outline: none;
  &:hover {
    color: #009ee2;
    text-decoration: none;
    border-color: transparent;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    border-color: transparent;
  }
}
h1 {
  font-size: map-get($fontSize, h1);
  margin: 32px 0 35px;
}
h2 {
  font-size: map-get($fontSize, h2);
  margin: 43px 0 19px;
}
h3 {
  font-size: map-get($fontSize, h3);
  margin: 20px 0 11px;
}
p {
  margin: 0 0 15px;
}
ul,
ol {
  margin: 0 0 15px;
  li {
    list-style: none;
    &:before {
      content: '\2022';
      position: absolute;
      top: 0;
      left: -10px;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
table {
  width: 100%;
  border: none;
  margin: 25px 0;
  thead {
    th, td {}
  }
  tbody {
    border: none;
  }
  tr.odd, tr.even {
    background-color: transparent;
  }
  td, th {
    padding: 0 14px 0;
    line-height: 36px;
    border: none;
  }
}
table.nostyle {
  border: none;
  thead {
    background-color: transparent;
  }
  tr {
    background-color: transparent;
    th, td {
      border: none;
      padding: 0;
      line-height: inherit !important;
    }
  }
}
