.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    &:focus {
        outline: none;
    }
}
.btn_style-1 {
    font-weight: 700;
    line-height: 23px;
    font-size: $normaPlus;
    color: white;
    border: 1px solid white;
    padding: 17px 39px 18px;
    &:hover {
        color: white;
        border: 1px solid white;
    }
}
.btn_style-2 {
    background-color: $color1;
    border: 1px solid $color1;
    color: white;
    font-size: $normaPlus;
    font-weight: 700;
    line-height: 23px;
    padding: 18px 18px 17px;
    &:hover {
        color: white;
        border: 1px solid $color1;
    }
}
// .btn_arrow-right {
//     border: none;
//     padding-right: 27px;
//     font-weight: 500;
//     &:after {
//         content: '';
//         position: absolute;
//         top: 6px;
//         right: 0;
//         @include sprite($arrow-right-03);
//     }
//     span {
//         border-bottom: 1px solid transparent;
//     }
//     &:hover {
//         span {
//             border-bottom-color: rgba(0,77,140,0.3);
//         }
//     }
// }
