/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
input[type='checkbox'] {
  vertical-align: top;
  margin: 0 0 0 0;
  width: 20px;
  height: 20px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
input[type='checkbox'] + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
input[type='checkbox']:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type='checkbox']:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 30px; /* оставляем слева от label место под псевдочекбокс */
  display: block;
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
input[type='checkbox']:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  // border: 1px solid $color3;
  box-sizing: border-box;
}
/* Меняем фон чекбокса, когда он включен. */
// input[type='checkbox']:checked + label:before {
//   background-color: white;
// }
/* Сдвигаем переключатель чекбокса, когда он включен. */
input[type='checkbox']:checked + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  // @include sprite($checkbox);
}
