.container {
  margin: 0 auto;
  width: 1170px;
  @include max-screen(1199px) {width: 970px;}
  @include max-screen(991px) {width: 750px;}
}
.noscroll {}
a.lightgallery {border-bottom: none;}
ul.slick-dots li button, .slick-slide, .slick-arrow {outline: none;}

.margin {
    margin: map-get($margin, block);
}
.margin-small {
    margin: map-get($margin, block2);
}
.padding {
    padding: $padding;
}
