extends /layout/layout-default.jade

block head
	- var pageTitle = 'Главная';
	- var pageDescription = '';
	- var pageKeywords = '';

block variables
	- var pageClass = '';

block body
	// обертка контента
	.wrapper
		// include ../components/breadcrumbs/breadcrumbs
		div контент
	// КОНЕЦ: обертка контента
