extends /layout/layout-default.jade

block head
	- var pageTitle = 'Главная';
	- var pageDescription = '';
	- var pageKeywords = '';

block variables
	- var pageClass = '';

block styles
	//- +style('https://cdn.jsdelivr.net/npm/normalize-css/normalize.min.css')
	+style('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.css')
	+style('https://cdn.jsdelivr.net/npm/lightgallery/dist/css/lightgallery.min.css')
	+style('css/common.css')
	+style('css/lightgallery.css')

block scripts
	+script('https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js')
	+script('https://cdn.jsdelivr.net/npm/jquery-once@2.2.0/jquery.once.min.js')
	+script('https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js')
	+script('https://cdn.jsdelivr.net/npm/lightgallery/dist/js/lightgallery-all.min.js')
	+script('https://cdn.jsdelivr.net/npm/inputmask/dist/min/jquery.inputmask.bundle.min.js')
	+script('js/lightgallery.js')
	+script('js/theme.js')

block body
	// обертка контента
	.wrapper
		// include ../components/breadcrumbs/breadcrumbs
		div контент
	// КОНЕЦ: обертка контента
