block variables
include ../components/jade-mixins
include ../../node_modules/bemto.jade/bemto

doctype html
html(lang='ru')

	head
		meta(charset="UTF-8")
		block head
		title= pageTitle || ''
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

	body(class=pageClass)
		// build:remove
		include ../components/linking-pages/linking-pages.jade
		// endbuild
		block body
		block styles
		block scripts
