block variables

doctype html
html(lang='ru')

	head
		meta(charset="UTF-8")
		block head
		title= pageTitle || ''
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/normalize-css/normalize.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/lightgallery/dist/css/lightgallery.min.css")
		link(rel="stylesheet", href="css/common.css")
		link(rel="stylesheet", href="css/lightgallery.css")

	body(class=pageClass)
		// build:remove
		include ../components/linking-pages/linking-pages.jade
		// endbuild
		block body

		script(src='https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js')
		script(src='https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js')
		script(src='https://cdn.jsdelivr.net/npm/lightgallery/dist/js/lightgallery-all.min.js')
		script(src='https://cdn.jsdelivr.net/npm/inputmask/dist/min/jquery.inputmask.bundle.min.js')

		//- для блока поделиться
		script(src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
		script(src='//yastatic.net/share2/share.js')

		//- информация об устаревшем браузере
		script(src='https://yastatic.net/browser-updater/v1/script.js', charset='utf-8')
		script.
			var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"15.12","chrome":"54","ie":"10","opera":"41","safari":"8","fx":"49","iron":"35","flock":"Infinity","palemoon":"25","camino":"Infinity","maxthon":"4.5","seamonkey":"2.3"},"theme":"yellow"});

		script(src='js/lightgallery.js')
		script(src='js/theme.js')
